@font-face {
    font-family: 'Arial-MT';
    src: url(/Momentum/assets/fonts/Arial-MT.woff);
}

body {
    padding: 0;
    margin: 0;
}

.root {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(""), rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out; 
    opacity: 1;
}

.root.hidden {
    opacity: 0.1;
}

.header { 
    width: 100%;
    height: 33.33%;
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px;
}

.inputValueLineAndPlayerButtons {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer {
    width: 120px;
    height: 40px;

    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playButton {
    width: 32px;
    height: 32px;

    background-color: inherit;
    background-size: cover;
    border: none;

    opacity: 0.7;

    transition: 0.3s ease;
}

.playButton:hover {
    cursor: pointer;
    opacity: 1;
}

.play-prev {
    background-image: url(/Momentum/assets/svg/play-prev.svg);
}

.play {
    width: 40px;
    height: 40px;

    background-image: url(/Momentum/assets/svg/play.svg);
}

.play.active {
    background-image: url(/Momentum/assets/svg/pause.svg);
}


.play-next {
    background-image: url(/Momentum/assets/svg/play-next.svg);
}

.song {
    color: #fff;
    opacity: 0.7;

    font-family: Arial, sans-serif;
    font-size: 20px;

    transition: 0.3s;
}

.active-song {
    opacity: 1;
}

.songsList {
    margin-left: 20px;
}

.inputVolume {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.5);
}

.volume {
    opacity: 0.7;
}

.volume:hover {
    cursor: pointer;
}

.cityName {
    width: 170px;
    height: 34px;
    box-sizing: border-box;

    padding: 15px;

    color: #fff;

    background-color: inherit;

    border: none;
    border-bottom: 1px solid #fff;

    outline: none;

    font-size: 20px;
}

.weatherWidget {
    color: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 15px;

    font-family: Arial, sans-serif;
    font-size: 16px;
}

.weatherDiscription {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
}

.main {
    width: 100%;
    height: 33.33%;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;

    position: relative;
}

.leftSliderButton,
.rightSliderButton {
    width: 32px;
    height: 32px;

    opacity: 0.7;

    position: absolute;

    background-color: inherit;
    border: none;

    background-size: cover;
}

.leftSliderButton:hover,
.rightSliderButton:hover {
    opacity: 1;
    cursor: pointer;

    transition: 0.3s ease;
}

.leftSliderButton {
    left: 30px;

    background-image: url(/Momentum/assets/svg/slider-prev.svg);
}

.rightSliderButton {
    right: 30px;

    background-image: url(/Momentum/assets/svg/slider-next.svg);
}

.watch {
    font-size: 100px;
    font-family: 'Arial-MT';
}

.dayAndDate {
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.inputAndText {
    width: 100%;

    font-size: 40px;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.greetings {
    width: 50%;

    font-family: Arial, sans-serif;
    font-size: 40px;

    display: flex;
    justify-content: flex-end;
}

.greetingsInput {
    width: 50%;
}

.greetingsText {
    width: 50%;

    display: flex;
    justify-content: flex-end;
}

.greetingsImputContainer {
    width: 50%;
}

#greetingsInput {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 40px;
    padding: 0;
    margin: 0;

    width: 200px;

    outline: none;
}

.footer {
    width: 100%;
    height: 33.33%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    gap: 20px;
}

.changeQuote {
    width: 32px;
    height: 32px;

    background-image: url(/Momentum/assets/svg/reload.svg);
    opacity: 0.7;

    background-size: cover;
    background-color: inherit;
    border: none;

    transition: 0.3s ease;

    color: #fff;
}

.changeQuote:hover {
    opacity: 1;
    cursor: pointer;
}

.qoute {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 15px;
}

.qouteText {
    width: 72%;

    font-size: 25px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.quoteAuthor {
    width: 72%;

    font-size: 25px;
    color: #fff;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: flex-end;
}

.playListsMenu {
    width: 500px;
    height: 100vh;
    box-sizing: border-box;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 10;

    padding-top: 70px;
    left: -100%;

    transition: 0.5s ease;

}

.playListsMenu.active {
    left: 0;
}

.playListsList {
    list-style: none;
}

.playList {
    color: #fff;
    opacity: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;

    margin-bottom: 10px;
}

.playListImage img{
    width: 70px;
    height: 70px;

    border-radius: 20px;
}

.playListName {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #fff;

    opacity: 0.5;
    transition: 0.3s ease;
}

.playListName:hover {
    opacity: 1;
    cursor: pointer;
}

.toggleMenu {
    width: 32px;
    height: 32px;

    transition: 0.3s;
    z-index: 20;

    position: relative;
}

.toggleMenu.active .menu_line_one {
    transform: rotate(45deg) translateY(18.5px);
}

.toggleMenu.active .menu_line_two {
    opacity: 0;
}

.toggleMenu.active .menu_line_three {
    transform: rotate(-45deg) translateY(-18.5px);
}

.toggleMenu:hover {
    cursor: pointer;
}

.menu_line_one,
.menu_line_two,
.menu_line_three {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    left: 5px;
    
    transition: 0.4s ease;
}
.menu_line_one {
    top: 10px;
}
.menu_line_two {
    top: 23px;
}
.menu_line_three {
    top: 36px;
}